.filter {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.tvshow__genre {
    border: lightgray dashed;
}
