html {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    align-content: center;
    justify-content: center;
}

.content {
    display: flex;
    overflow: scroll;
    height: 100%;
}

div .list {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    border-style: solid;
    align-content: center;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

a {
    text-decoration: black;
    color: black;
    align-content: space-between;
}

.tvshow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: lightgrey solid ;
    align-items: center;
}

.tvshow__image_poster {
    height: 230px;
    width: 150px;
}

.tvshow__series {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    display: flex;
    border-style: solid;
}

@media only screen and (min-width: 600px) {

     .list a:nth-child(2n) {
        flex-direction: row-reverse;
    }
}