html {
    margin: 0;
    height: 100%;
    box-sizing: border-box;

}

body {
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-grow: 1;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: burlywood;
}

.content {
    display: flex;
    overflow: scroll;
    height: 100%;
}

div .list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    align-content: center;
    gap: 10px;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

a {
    text-decoration: black;
    color: black;
    align-content: space-between;
}

.tvshow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: lightgrey solid ;
    align-items: center;
}

.tvshow_presentation{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: lightgrey solid ;
    align-items: center;
}

.tvshow__image_poster {
    height: 230px;
    width: 150px;
}

.tvshow__series {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
}

.tvshow__series_numbering {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tvshow__title_serie {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
}

.tvshow__title_original {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
}

.seasons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.seasons__series {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    justify-content: center;
}

.tvshow:not(.tvshow__image_poster):hover {
    background-color: navajowhite;
    transition: ease-in-out 25ms;
}

.seasons:hover {
    background-color: navajowhite;
    transition: ease-in-out 25ms;
}

footer {
    display: flex;
    background-color: lightgrey;
}